TWITTER_API_KEY=cTGAkfD5U3dmFPXhrh7ULqGOg
TWITTER_API_KEY_SECRET=Svd3U94RSWpQgfXD13qtVJq0XHQjjAfo5VHD5hdXFAfy2Gt1D8
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAB0HbwEAAAAAPzGw%2BiXlSlj%2Bos23TmUg77hnXMo%3DNycd3PKHiWQHf7sWeAJQkohapwL6iBCNu75M16qEXnpvrTZgCL
TWITTER_ACCESS_TOKEN=1512637724494528528-7W9DlNhf5AC0U87ZmG1Ix4djMlDCTp
TWITTER_ACCESS_SECRET=So9WPvPf4VViMymqDyDcTGBF5Jhs533Ch6J8dBlsDFJBS
